<section>
	<h1>{{ title }}</h1>
	<h3>{{ subtitle }}</h3>
</section>

	<section>
		<h2>{{ slides.[0].title }}</h2>
		<p>Adipisicing magna est proident amet pariatur amet incididunt velit aute anim duis non reprehenderit.</p>
		<img src="images/example.jpg" alt="Lorem ipsum" />
	</section>

	<section>
		<h2>{{ slides.[1].title }}</h2>
		<ul>
			<li class="fragment">Nisi amet enim aliquip tempor qui.</li>
			<li class="fragment">Aliquip enim consectetur dolore ea aliqua aliqua aute.</li>
			<li class="fragment">Commodo tempor ea cillum sit exercitation.</li>
		</ul>
	</section>

	<section>
		<h2>{{ slides.[2].title }}</h2>

		<!-- START: ACE EDITOR -->
<div id="editor">alert('Hi there!');
}</div>
		<!-- END: ACE EDITOR -->
	</section>
